{% include "common/cmake_copyright.jinja" %}

FIND_PACKAGE(protobuf REQUIRED)

set(TARGET {{ target_name }})

file(GLOB SOURCES ${CMAKE_CURRENT_SOURCE_DIR}/*.proto)
protobuf_generate_cpp(PROTO_SRC PROTO_HEADER ${SOURCES})

add_library(${TARGET} STATIC ${PROTO_HEADER} ${PROTO_SRC})

target_include_directories(${TARGET}
    PUBLIC
        $<BUILD_INTERFACE:${CMAKE_CURRENT_BINARY_DIR}>
        $<INSTALL_INTERFACE:${CMAKE_CURRENT_BINARY_DIR}>)

target_link_libraries(${TARGET}
    PUBLIC
        {% for lib in libraries %}
        {{ lib }}
        {% endfor %}
    )
{# dummy comment for new line at the end #}
