import os

from vaf.vafpy import Executable
from vaf.vafpy.runtime import (
    get_datatype,
    get_module_interface,
    get_platform_consumer_module,
    get_platform_provider_module,
    import_model,
)

script_path = os.path.dirname(os.path.realpath(__file__))

import_model(os.path.join(script_path, "derived-model.json"))

class Nsexec:
    class Nstest:
        # Platform Consumer Modules
        my_consumer_module = get_platform_consumer_module(
            "MyConsumerModule", "nsexec::nstest"
        )
        # Platform Provider Modules
        my_provider_module = get_platform_provider_module(
            "MyProviderModule", "nsexec::nstest"
        )
class Test:
    # Module Interfaces
    my_interface = get_module_interface(
        "MyInterface", "test"
    )
