{% include "common/copyright.jinja" %}


{{ file_helper.get_include() }}

{% block includes %}
{% endblock -%}

{{ file_helper.get_namespace_start() }}
{% block content %}
{% endblock %}

{{ file_helper.get_namespace_end() }}
