// For format details, see https://aka.ms/devcontainer.json. For config options, see the README at:
// https://github.com/microsoft/vscode-dev-containers/tree/v0.245.0/containers/cpp
{
    "name": "{{workspace_name}}",
    "image": "vaf:latest",
    "runArgs": [
        "--sysctl=net.ipv6.conf.all.disable_ipv6=0"
    ],
    "customizations": {
        "vscode": {
            // Set *default* container specific settings.json values on container create.
            "settings": {
                "[cpp]": {
                    "editor.defaultFormatter": "llvm-vs-code-extensions.vscode-clangd"
                },
                "[python]": {
                    "editor.defaultFormatter": "charliermarsh.ruff"
                },
                "editor.formatOnSave": true,
                "json.format.keepLines": true,
                "cmake.configureOnEdit": true,
                "cmake.configureOnOpen": false,
                "C_Cpp.intelliSenseEngine": "disabled",
                "ruff.exclude": [
                    ".pdm-build"
                ],
                "ruff.nativeServer": true
            },
            // Add the IDs of extensions you want installed when the container is created.
            "extensions": [
                "charliermarsh.ruff",
                "llvm-vs-code-extensions.vscode-clangd",
                "ms-python.python",
                "ms-vscode.cmake-tools",
                "ms-vscode.cpptools",
                "SanaAjani.taskrunnercode",
                "yzhang.markdown-all-in-one"
            ]
        }
    },
    "containerEnv": {
        "NODE_EXTRA_CA_CERTS": "/etc/ssl/certs/ca-certificates.crt",
        "REQUESTS_CA_BUNDLE": "/etc/ssl/certs/ca-certificates.crt"
    },    
    "mounts": [
        {% for mount in mount_paths -%}
        "{{ mount }}",
        {% endfor -%}
        "source=/etc/ssl/certs/ca-certificates.crt,target=/etc/ssl/certs/ca-certificates.crt,type=bind,consistency=cached",
        "source=vaf_bashhistory,target=/commandhistory,type=volume"
    ],
    "capAdd": [
        "NET_ADMIN",
        "NET_RAW"
    ]
}
