{% include "common/copyright.jinja" %}

{% block content %}
#include "gtest/gtest.h"
#include <iostream>
#include <fstream>

int main(int argc, char **argv) {
  int gtest_ret{0};
  ::testing::InitGoogleTest(&argc, argv);

  // Set death tests to threadsafe globally because logging uses a separate thread.
  //::testing::FLAGS_gtest_death_test_style = "threadsafe";

  // Execute tests via gtest
  gtest_ret = RUN_ALL_TESTS();

  return gtest_ret;
}
{% endblock %}
