option(VAF_STAND_ALONE_BUILD "Do you want to build the application module stand alone?" TRUE)
option(VAF_BUILD_TESTS "Enable unit and integration tests for this VAF project" ON)

if(VAF_STAND_ALONE_BUILD)

  cmake_minimum_required(VERSION 3.25)

  project({{module_name}})

  find_package(Threads)
  find_package(vafcpp REQUIRED)

  find_program(CCACHE_PROGRAM ccache)
  if(CCACHE_PROGRAM)
    set(CMAKE_CXX_COMPILER_LAUNCHER "${CCACHE_PROGRAM}")
  endif()

  set(CMAKE_RUNTIME_OUTPUT_DIRECTORY ${CMAKE_BINARY_DIR}/bin)
  set(CMAKE_LIBRARY_OUTPUT_DIRECTORY ${CMAKE_BINARY_DIR}/lib)
  set(CMAKE_ARCHIVE_OUTPUT_DIRECTORY ${CMAKE_BINARY_DIR}/lib)

  set(CMAKE_INSTALL_PREFIX
      "${CMAKE_BINARY_DIR}/install"
      CACHE PATH "install prefix" FORCE)

  set(CMAKE_EXPORT_COMPILE_COMMANDS ON)

  if(VAF_BUILD_TESTS)
    # This include needs to be run before any add_subdirectories that include tests
    include(CTest)
    add_subdirectory(test-gen)
  endif()

  add_subdirectory(implementation)
  add_subdirectory(src-gen)

  execute_process(
  COMMAND
    ${CMAKE_COMMAND} -E create_symlink
    ${CMAKE_BINARY_DIR}/compile_commands.json
    ${CMAKE_BINARY_DIR}/../compile_commands.json)

else()

  add_subdirectory(implementation)

endif()
