# {{module_name}}

This is a VAF application module project: {{module_name}}
An application module project can do the following:

Import model artifacts from a catalogue according to the COVESA VSS:
``` bash
vaf model import vss
```

Update the existing model artifacts (from related interface projects):
``` bash
vaf model update
```

Import from an existing interface project:
``` bash
vaf project import
```

Generate code based on the configuration and preset the build dependencies:
``` bash
vaf project generate
```

Optionally, preset the build dependencies manually:
``` bash
vaf make preset
```

Build the project:
``` bash
vaf make build
```

Install the built files to a target location:
``` bash
vaf make install
```

Clean up the build folder:
``` bash
vaf make clean
```
