{% extends "common/h_file_base.jinja" %}

{% block includes %}
#include "vaf/user_controller_interface.h"
{% endblock %}

{% block content %}
class UserController : public vaf::UserControllerInterface {
public:
  void PreInitialize() override;
  void PostInitialize() override;
  void PreStart() override;
  void PostStart() override;
  void PreShutdown() override;
  void PostShutdown() override;

  void OnError(vaf::Error error, std::string name, bool critical) override;

private:
};
{% endblock %}
