from pathlib import Path

from vaf.cli_core.common.utils import ProjectType
from vaf import save_part_of_main_model

# Import the application module model
from . import {{module_name_snk}}

def export_model():
    script_path = Path(__file__).resolve().parent
    save_part_of_main_model(
        script_path / "model.json",
        ["DataTypeDefinitions", "ModuleInterfaces", "ApplicationModules"],
        project_type=ProjectType.APP_MODULE,
        cleanup=True,
    )

if __name__ == "__main__":
    export_model()
