{
  "ApplicationModules": [
    {
      "Name": "{{module_name}}",
      "Namespace": "{{module_namespace}}",
      "ConsumedInterfaces": [],
      "ProvidedInterfaces": [],
      "ImplementationProperties": {
        "GenerateUnitTestStubs": true
      },
      "Tasks": [
        {
          "Name": "PeriodicTask",
          "Period": "200ms"
        }
      ]
    }
  ]
}
