from datetime import timedelta
from vaf import vafpy, BaseTypes

# TODO: Import the CaC support from platform derive or interface import
# from .imported_models import *

{{ module_name_snk }} = vafpy.ApplicationModule(name="{{ module_name }}", namespace="{{ module_namespace }}")
# TODO: Add consumed and provided interfaces using the ApplicationModule API
# e.g. {{ module_name_snk }}.add_consumed_interface(instance_name="AccelerationProvider", interface=Acceleration)

periodic_task = vafpy.Task(name="PeriodicTask", period=timedelta(milliseconds=200))
{{ module_name_snk }}.add_task(task=periodic_task)
