from pathlib import Path

from vaf import save_part_of_main_model
from vaf.vafgeneration import generate_cac_support
from vaf.cli_core.common.utils import ProjectType

# Import the interface project model
from . import {{ project_name_snk }}

def export_model():
    script_path = Path(__file__).resolve().parent
    export_path = script_path / "{{export_path}}"
    export_path.mkdir(parents=True, exist_ok=True)
    save_part_of_main_model(
        export_path / "{{export_name}}.json",
        ["DataTypeDefinitions", "ModuleInterfaces"],
        project_type=ProjectType.INTERFACE,
    )
    generate_cac_support(export_path, "{{export_name}}.json", "{{base_file_name}}", script_path / "{{output_path}}", ProjectType.INTERFACE)

if __name__ == "__main__":
    export_model()
