# {{project_name}}

This is a VAF interface project: {{project_name}}
An interface project can do the following:

Import model artifacts from a catalogue according to the COVESA VSS:
``` bash
vaf model import vss
```

Configure the project in the {{project_name_snk}}.py file and generate the database in JSON format
using VAF CaC (Configuration as Code) support:
``` bash
vaf model generate
```
