from vaf import BaseTypes, vafpy

# TODO: Import the CaC support from platform derive or catalogue import
# from .vss import *

# TODO: Extend with own datatype and interface definitions
# object_detection = vafpy.datatypes.Struct(name="ObjectDetection", namespace="demo")
# object_detection.add_subelement(name="x", datatype=BaseTypes.UINT64_T)
# object_detection.add_subelement(name="y", datatype=BaseTypes.UINT64_T)
# object_detection.add_subelement(name="z", datatype=BaseTypes.UINT64_T)

# od_list = vafpy.datatypes.Vector(name="ObjectDetectionList", namespace="demo", datatype=object_detection)

# od_list_interface = vafpy.ModuleInterface(name="ObjectDetectionListInterface", namespace="demo")
# od_list_interface.add_data_element(name="object_detection_list", datatype=od_list)
