# {{project_name}}

This is a VAF integration project: {{project_name}}
An integration project can do the following:

Import model artifacts from a catalogue according to the COVESA VSS:
``` bash
vaf model import vss
```

Update the existing model artifacts (from related app-module projects):
``` bash
vaf model update
```

Create a new or import an existing application module:
``` bash
vaf project create app-module
```
``` bash
vaf project import
```

Remove an existing application module from the project:
``` bash
vaf project remove app-module
```

Generate code based on the configuration and preset the build dependencies:
``` bash
vaf project generate
```

Optionally, preset the build dependencies manually:
``` bash
vaf make preset
```

Build the code:
``` bash
vaf make build
```

Install the built files to a target location:
``` bash
vaf make install
```

Clean the build folder:
``` bash
vaf make clean
```
