{% extends "common/h_file_base.jinja" %}

{% block includes %}
#include <vector>

{{ get_data_type_include_from_type_ref(vaf_vector.TypeRef) }}
{% endblock %}

{% set ref_type = get_file_helper(vaf_vector.TypeRef) %}
{% block content %}
using {{ vaf_vector.Name }} = std::vector<{{ ref_type.get_full_type_name() }}>;
{% endblock %}
